@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;

}

.navbar-toggler {
    border: 0px;
}

.navbar ul a {
    color: #212529 !important;
    font-size: 1.3rem;
}

.navbar a:hover {
    color: #6b5b5a !important;
}

div.footer-text {
    background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
    border: none;
    background-color: #F8F9F8;
}

.footer-text {
    font-size: 18px;
}

.user-icon {
    padding-right: 5px;
}

/* General */

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    color: white;
    padding: 20px 0px;
    margin: 0px 15px;
}

h3 {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
    color: #212529;
    text-align: center;
    /* padding-top: 50px; */
    padding: 20px 0px;
    margin: 0px 15px;
}

h5 {
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 0px;
}

.container-fluid {
    width: 100%;
    overflow-y: hidden;
}

.masthead {
    margin-top: 10px;
}

#home {
    padding: 0px;
    max-height: 80vh;
}


.col {
    position: relative;
    width: 100%;
}

/* About  */

#about {
    padding-top: 50px;
    padding-bottom: 50px;
}

.box-about {
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 20px;
    font-weight: 300;
    /*
  margin-left: 20px;
  margin-right: 20px;
  */
    color: #fff;
    padding-top: 30px;
}

/* Tour dates  */

#news {
    padding-top: 50px;
    padding-bottom: 50px;
}

.tour-info {
    /* font-family: "Oswald", sans-serif; */
    font-weight: 300;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding-bottom: 10px;
}

.tour-dates {
    /* font-family: "Oswald", sans-serif; */
    font-weight: 300;
    text-align: center;
    font-size: 1.2rem;
    border: #212422 2px solid;
    margin-top: 20px;
    padding: 10px;
}

.tour-dates:hover {
    background-color: #212529;
    transition-duration: 0.5s;
    color: #fff;
}

div.embed-widget {
    padding: 10px;
}

/* Album Reviews page  */

h2.review-heading {
    color: #212529;
}

/* Blog detail page  */

.post-link {
    text-decoration: none;
}

h2.card-title {
    text-transform: none;
    padding: 8px 0px;
}

.post-title {
    text-align: center;
    margin-top: 35%;
    margin-left: 5%;
}

p.card-text {
    text-align: center;
}

p.post-subtitle {
    margin-bottom: 3px;
}

.review-detail {
    text-align: center;
    padding-bottom: 10px;
}

.login-screen {
    padding-bottom: 50px;
    text-align: center;
}

.page-title {
    text-align: center;
    padding-top: 20px;
}

.update-delete-button {
    margin: 30px;
}

a.subscribe-button {
    text-align: center;
}

#videos {
    padding: 50px 12px 0px 12px;
}

/* Form  */

#contact-form {
    padding-top: 50px;
    padding-bottom: 50px;
}

h3.form-submission-text {
    text-align: center;
    color: #fff;
}

p.form-submission-text {
    text-align: center;
    color: #fff;
}

.py-4 {
    padding: 0px !important;
}

#message-box {
    height: 12rem;
}

/* Music videos section  */

.music-albums {
    color: #fff;
    text-align: center;
    padding-bottom: 20px;

}

p.subscribe {
    text-align: center;
}

.embed-responsive-16by9 {
    width: auto;
    height: auto;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.sign-out {
    text-align: center;
}

/* Media Queries  */


@media screen and (max-width: 768px) {
    h1.post-title {
        margin-top: 5%;
        margin-left: 0px;

    }
}

@media screen and (max-width: 992px) {
    h1.post-title {
        margin-top: 5%;
        margin-left: 0px;

    }
}