{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pearl Jam Fan Club Website">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Pearl Jam Fan Club</title>

</head>

<body>
    <header>
        <nav class=" navbar navbar-expand-lg navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="https://assets.stickpng.com/images/612d05b2fe2fdd00041d6f67.png" alt="logo" height="36">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'album_reviews' %}">Album Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'home' %}#anchor"">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class=" nav-item">
                                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- messages, from Code Institute Blog Walkthrough -->

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{message.tags}} alert-dismissable fade show" id="msg" role="alert">

                    {{ message | safe }}

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

                    </button>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>



    <main class="flex-shrink-0 main-bg">

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!"
                    aria-label="Go to band's Facebook page (link opens in new tab)" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!"
                    aria-label="Go to band's Twitter page (link opens in new tab)" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!"
                    aria-label="Go to band's Instagram page (link opens in new tab)" role="button"><i
                        class="fab fa-instagram"></i></a>

            </section>
        </div>

        <!-- Copyright -->
        <div class="footer-text text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © Created By:
            <a class=" footer-text text-white" href="https://jonathanburrell.com">Jonathan Burrell</a>
        </div>
    </footer>

    <!-- Messages script  -->
    <script>
        setTimeout(function () {
            const messages = document.getElementById('msg');
            const alert = new bootstrap.Alert(messages);
            alert.close();
        }, 3000);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <!-- Font Awesome script  -->
    <script src="https://kit.fontawesome.com/08445b6b20.js" crossorigin="anonymous"></script>
</body>

</html>