{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div id="contact-form" class="container-fluid bg-dark">

    <div class="container">

        <div class="row">
            {% if messages %}
            <h3 class="form-submission-text">Thanks for your submission!</h3>
            <p class="form-submission-text">We read all your messages but are unable to respond personally. Have a great
                day!</p>
            {% else %}
            <div>
                <h2>Contact us here!</h2>
                <div class="container">
                    <form id="contactForm" method="post" action="{% url 'contact' %}">
                        {% csrf_token %}
                        <div class="mb-3 form-label">
                            <label class="text-white">Name</label>
                            {{form.message_name | as_crispy_field}}
                        </div>
                        <div class="mb-3 form-label">
                            <label class="text-white">Email Address</label>
                            {{form.message_email | as_crispy_field}}
                        </div>
                        <div class="mb-3 form-label">
                            <label class="text-white">Message</label>
                            {{form.message_content | as_crispy_field}}
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-light btn-lg" type="submit">Submit</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
        {% endif %}

    </div>

</div>

{% endblock %}