{% extends "base.html" %}

{% block content %}

<div id="about" class="container-fluid bg-dark text-white">
    <!------ I have left line breaks between code to make my code easier to see ----->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>About Pearl Jam</h2>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="box-about">
                        <p>Pearl Jam is an American rock band formed in Seattle, Washington, in 1990. The band's
                            lineup consists of founding members Jeff Ament (bass guitar), Stone Gossard (rhythm
                            guitar), Mike McCready (lead guitar), and Eddie Vedder (lead vocals, guitar), as well as
                            Matt Cameron (drums), who joined in 1998. Keyboardist Boom Gaspar has also been a
                            touring/session member with the band since 2002. Drummers Jack Irons, Dave Krusen, Matt
                            Chamberlain, and Dave Abbruzzese are former members of the band. Pearl Jam outsold many
                            of their contemporaries from the early 1990s, and are considered one of the most
                            influential bands of the decade,[1] being dubbed as "the most popular American rock &
                            roll band of the '90s".
                        </p>
                        <br>
                        <p>The band continues to tour and sell out arenas worldwide.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="news" class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Upcoming Tour Dates</h3>
                <p class="tour-info">Pearl Jam continue to tour regularly and play to sold-out audiences around the
                    globe. Check out when and where they're playing next on this website.</p>



                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <p class=tour-dates>17.07.22<br> Dublin
                                <br> The Academy
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <p class="tour-dates">20.07.22<br> Liverpool
                                <br> The Cavern Club
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <p class="tour-dates">23.07.22<br> London
                                <br> Royal Albert Hall
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <p class="tour-dates">26.07.22<br> Paris
                                <br> L'Olympia
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <p class="tour-dates">01.08.22<br> Berlin
                                <br> Musikbrauerie
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <p class="tour-dates">03.08.22<br> Madrid
                                <br> Galileo Galilei
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}