{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container review-detail">
        <div class="row g-0">

            <div class="d-sm-block col-lg-6">
                {% if "placeholder" in post.featured_image.url %}
                <img class="masthead-image" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                    alt="placeholder image">
                {% else %}
                <img class="masthead-image" src=" {{ post.featured_image.url }}" alt="album thumbnail image">
                {% endif %}
            </div>

            <div class="col-lg-6">
                <!-- Review title -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Album release date and producer -->
                <p class="post-subtitle">Album Released On: {{ post.album_release_date }}</p>
                <p class="post-subtitle">Produced By: {{ post.album_producer }}</p>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <hr>

    {{ post.review | safe }}

</div>
<div class="container">
    <div class="row">

        <div class="col-md-12 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% if not post.comments.all %}
                No Comments Yet...
                {% else  %}
                {% for comment in comments %}
                <hr>
                <strong>Author: {{ comment.name }}</strong>
                <br>
                <strong>Last Updated: {{ comment.last_modified }}</strong>
                {% if user.is_authenticated and user.username == comment.name %}
                <span class="comment-action-text pl-2">
                    <a href="{% url 'update_comment' comment.id %}" aria-label="edit-comment">Edit</a>
                </span>
                {% endif %}
                {% if user.is_authenticated and user.username == comment.name %}
                <span class="comment-action-text pl-2">
                    <a href="{% url 'delete_comment' comment.id %}" aria-label="delete-comment">Delete</a>
                </span>
                {% endif %}

                {{ comment.body | linebreaks }}


                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 card mb-4  mt-3 ">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="btn btn-dark btn-lg">Submit</button>
                </form>
                {% endif %}
                {% if not user.is_authenticated %}
                <p><a class="link" href="{% url 'account_login' %}?next={{request.path}}"> <strong>Log In</strong></a>
                    or <a class="link" href="{% url 'account_signup' %}?next={{request.path}}">
                        <strong>Register</strong></a> to leave a comment! </p>
                {% endif %}
            </div>
        </div>

    </div>
</div>

{% endblock content %}