{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top">
            <div class="card-body">
                <div class="d-none d-md-block col-md-6 masthead-image">
                    <!-- The featured image URL goes in the src attribute -->
                    {% if "placeholder" in post.featured_image.url %}
                    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                    {% else %}
                    <img src=" {{ post.featured_image.url }}" width="100%">
                    {% endif %}
                </div>
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text ">
                    <h2 class="text-dark">Ten (1991)</h2>
                    {{ post.review | safe }}
                </p>

            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% if not post.comments.all %}
                No Comments Yet...
                {% else  %}
                {% for comment in comments %}
                <hr>
                <strong>{{ comment.name }} - {{ comment.created_date }}</strong>
                {% if user.is_authenticated and user.username == comment.name %}
                <span class="comment-action-btn pl-2">
                    <a href="{% url 'update_comment' comment.id %}" aria-label="edit-comment">Edit</a>
                </span>
                {% endif %}
                {% if user.is_authenticated and user.username == comment.name %}
                <span class="comment-action-btn pl-2">
                    <a href="{% url 'delete_comment' comment.id %}" aria-label="edit-comment">Delete</a>
                </span>
                {% endif %}

                {{ comment.body | linebreaks }}


                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="btn btn-dark btn-lg">Submit</button>
                </form>
                {% endif %}
                {% if not user.is_authenticated %}
                <p><a class="link" href="{% url 'account_login' %}?next={{request.path}}"> <strong>Log In</strong></a>
                    or <a class="link" href="{% url 'account_signup' %}?next={{request.path}}">
                        <strong>Register</strong></a> to leave a comment! </p>
                {% endif %}
                {% endif %}
            </div>
        </div>

    </div>

    {% endblock content %}